*{
  font-family: Georgia, 'Times New Roman', Times, serif;
  margin: 0; 
  padding: 0; 
  box-sizing: border-box;
  
}

.container {
    width: 100%;
    min-height: 100vh;
    padding: 10px;
    background-image: linear-gradient(to bottom right, #4ca1af, #c4a0e5);
    
}

.to-doForm {
    width: 100%;
    max-width: 100%;
    background: rgb(251, 232, 235);
    margin: 100px auto 20px;
    padding: 40px 10px;
    border-radius: 10px;
}

#toDoList{
    width: 100%;
    max-width: 100%;
    background: rgb(251, 232, 235);
    margin: 100px auto 20px;
    padding: 40px 10px;
    border-radius: 10px;
}

#toDoList {
    list-style-type: circle;
    font-weight: bolder;
    font-size: 15px;
    padding: 12px 8px 12px 50px;
    cursor: pointer;
}

ul li:nth-child(odd) {
    background: #c4a0e5;
}








